# For python
.eggs/*
build/*
cover/*
*.pyc
*.pyd
__pycache__
*.egg-info
*.egg

# For jupyter / ipython
*/.ipynb_checkpoints

# For eclipse
.project
.pydevproject
.settings

# For built documentation
/doc/_build*
/doc/source/savefig/*
