# specify the language and which version
language: python
python:
  - 2.7
# setup anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
# command to install dependencies
install:
  # standard stuff you need for scientific computing
  - conda install --yes python=$TRAVIS_PYTHON_VERSION atlas enum34 numpy matplotlib nose scipy sympy
  - python setup.py install
  - pip install -r requirements.txt
  - python setup.py install
# command to run tests
script: python setup.py test